body {
  background: #f3f5f7;
  font-family: Arial;
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#preview {
  width: 100%;
  margin-top: 20px;
  display: none;
}

button {
  padding: 10px 20px;
  margin-top: 15px;
  background: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
